// Variables of Mist scheme
// ==================================================

@import "Muse.styl";

$link-decoration-color   = $grey-light;
$content-bg-color        = $whitesmoke;
$menu-item-bg-color      = $gray-lighter;

$brand-color             = $black-deep;
$brand-hover-color       = $brand-color;
$brand-color-dark        = white;
$brand-hover-color-dark  = $brand-color-dark;

$site-meta-text-align    = center;
$posts-collapse-left     = 0;

$btn-default-bg                 = transparent;
$btn-default-color              = var(--link-color);
$btn-default-hover-bg           = transparent;
$btn-default-border-color       = var(--link-color);
$btn-default-hover-color        = var(--link-hover-color);
$btn-default-hover-border-color = var(--link-hover-color);

// mystyle
$green        = #45b29a;
$greenmask    = #e0ebe8;
$green-deep   = #21564b

$brand-color             = $green;
$brand-hover-color       = $green;

$link-color                   = $green;
$link-hover-color             = $green-deep;
$link-decoration-color        = $green;
$link-decoration-hover-color  = $black-light;
// Sidebar
// Variables for sidebar section elements.
// --------------------------------------------------
$sidebar-highlight                    = $green;
$toc-link-active-color                = $sidebar-highlight;
$toc-link-active-border-color         = $sidebar-highlight;
$toc-link-active-current-color        = $sidebar-highlight;
$toc-link-active-current-border-color = $sidebar-highlight;

// Selection
$selection-bg                 = $greenmask;
$selection-color              = $black-dim;

// Code & Code Blocks
// --------------------------------------------------
$code-background = #f9f2f4;
$code-foreground = #c7254e;
