// Header
// --------------------------------------------------
.header {
  background: $greenmask ;
}

.header-inner {
  clearfix();
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  +mobile() {
    display: block;
    padding: 10px;
    width: auto;
  }
}

.site-meta {
  float: left;
  line-height: normal;
  margin-left: -20px;

  +mobile() {
    margin-left: 10px;
  }

  .brand {
    background: none;
    padding: 2px 1px;

    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder;
  }
}

.site-subtitle {
  display: none;
}

.site-author-name {
  font-family: "Rock Salt";
}